# Environment variables
.env

# Docker volumes and runtime data
**/pgdata/
**/mssqldata/
*.pid
*.log

# Docker Compose override files
docker-compose.override.yml

# Node/Yarn artifacts (just in case)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/
*.swp

# Mac/Linux backup files
*~
*.bak
*.tmp
